<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Music League</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Leagues', leagues_path, class: "nav-link #{'active' if current_page?(leagues_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Playlists', playlists_path, class: "nav-link #{'active' if current_page?(playlists_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Songs', songs_path, class: "nav-link #{'active' if current_page?(songs_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Stats', stats_path, class: "nav-link #{'active' if current_page?(stats_path)}" %>
        </li>
      </ul>

      <div class="d-flex">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-light btn-sm", form: { class: "d-inline" } %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light btn-sm me-2" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-light btn-sm" if Rails.application.routes.url_helpers.respond_to?(:new_user_registration_path) %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
