<%= render 'shared/nav_bar' %>

<h1>Playlists</h1>

<%= button_to "Fetch from Music League", scrape_playlists_path, method: :post %>

<br>

<table class="table table-bordered table-hover table-sm">
  <thead class="thead-light sticky-top bg-white" style="z-index: 1">
    <tr>
      <th>Round</th>
      <th>Name</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.round_number %></td>
        <td><%= playlist.name %></td>
        <td><%= playlist.spotify_created_at&.strftime("%Y-%m-%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

